#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.ant-layout {
  width: 100%;
  min-height: 100vh;
}

.ant-layout-header {
  background: #fff;
  width: 100%;
  padding: 0;
  height: auto;
  line-height: normal;
}

.ant-layout-sider {
  background: #fff;
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}
